<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="notices" data-view="Meter" data-title="Notices" data-min="0" data-max="10637"></div>
    </li>
  </ul>
</div>


<!-- curl -d '{ "auth_token": "puddiness", "value": 7292 }' http://localhost:3030/widgets/notices -->
